pkgbase = linux-zen
	pkgdesc = The Linux ZEN kernel and modules
	pkgver = 6.2.7.zen1
	pkgrel = 1.1
	url = https://github.com/zen-kernel/zen-kernel/commits/v6.2.7-zen1
	arch = x86_64
	arch = x86_64_v3
	license = GPL2
	makedepends = bc
	makedepends = clang
	makedepends = cpio
	makedepends = git
	makedepends = kmod
	makedepends = libelf
	makedepends = llvm
	makedepends = lld
	makedepends = pahole
	makedepends = perl
	makedepends = tar
	makedepends = xmlto
	makedepends = xz
	options = !strip
	source = https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.2.tar.xz
	source = https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.2.tar.sign
	source = https://github.com/zen-kernel/zen-kernel/releases/download/v6.2.7-zen1/v6.2.7-zen1.patch.xz
	source = https://github.com/zen-kernel/zen-kernel/releases/download/v6.2.7-zen1/v6.2.7-zen1.patch.xz.sig
	source = https://github.com/archlinux/svntogit-packages/raw/master/linux-zen/trunk/config
	source = https://raw.githubusercontent.com/CachyOS/linux-cachyos/master/linux-cachyos/auto-cpu-optimization.sh
	source = 0001-kconfig-additional-timer-interrupt-kernel-config-opt.patch
	source = 0002-x86-implement-tsc-directsync-for-systems-without-IA3.patch
	source = 0003-x86-touch-clocksource-watchdog-after-syncing-TSCs.patch
	source = 0004-x86-save-restore-TSC-counter-value-during-sleep-wake.patch
	source = 0005-x86-only-restore-TSC-if-we-have-IA32_TSC_ADJUST-or-d.patch
	source = 0006-x86-don-t-check-for-random-warps-if-using-direct-syn.patch
	source = 0007-x86-disable-tsc-watchdog-if-using-direct-sync.patch
	source = 0008-x86-Avoid-relocation-information-in-final-vmlinux.patch
	source = 0009-Revert-objtool-Fix-memory-leak-in-create_static_call_sectio.patch
	source = 0101-LUCJAN-smpboot-patches.patch::https://raw.githubusercontent.com/sirlucjan/kernel-patches/master/6.2/smpboot-patches-v16/0001-smpboot-patches.patch
	source = 0102-LUCJAN-block-mq-deadline-Disable-front_merges-by-def.patch::https://raw.githubusercontent.com/sirlucjan/kernel-patches/master/6.2/xanmod-patches-sep/0001-XANMOD-block-mq-deadline-Disable-front_merges-by-def.patch
	source = 0103-LUCJAN-block-mq-deadline-Increase-write-priority-to-.patch::https://raw.githubusercontent.com/sirlucjan/kernel-patches/master/6.2/xanmod-patches-sep/0002-XANMOD-block-mq-deadline-Increase-write-priority-to-.patch
	source = 0104-LUCJAN-block-set-rq_affinity-to-force-full-multithre.patch::https://raw.githubusercontent.com/sirlucjan/kernel-patches/master/6.2/xanmod-patches-sep/0003-XANMOD-block-set-rq_affinity-to-force-full-multithre.patch
	source = 0105-LUCJAN-lrng-6.2-introduce-Linux-Random-Number-Generator.patch::https://raw.githubusercontent.com/sirlucjan/kernel-patches/master/6.2/lrng-cachyos-patches-v6/0001-lrng-6.2-introduce-Linux-Random-Number-Generator.patch
	source = 0106-LUCJAN-ext4-6.2-merge-changes-from-dev-tree.patch::https://raw.githubusercontent.com/sirlucjan/kernel-patches/master/6.2/ext4-patches-v6/0001-ext4-6.2-merge-changes-from-dev-tree.patch
	source = 0107-LUCJAN-ksmbd-6.2-merge-changes-from-dev-tree.patch::https://raw.githubusercontent.com/sirlucjan/kernel-patches/master/6.2/ksmbd-patches-v2/0001-ksmbd-6.2-merge-changes-from-dev-tree.patch
	source = 0108-LUCJAN-zstd-6.2-merge-changes-from-dev-tree.patch::https://raw.githubusercontent.com/sirlucjan/kernel-patches/master/6.2/zstd-cachyos-patches-v2/0001-zstd-6.2-merge-changes-from-dev-tree.patch
	source = 0109-LUCJAN-clang-6.2-add-miscellaneous-fixes-for-clang.patch::https://raw.githubusercontent.com/sirlucjan/kernel-patches/master/6.2/clang-patches-v2/0001-clang-6.2-add-miscellaneous-fixes-for-clang.patch
	source = 0110-LUCJAN-objtool-6.2-merge-changes-from-dev-tree.patch::https://raw.githubusercontent.com/sirlucjan/kernel-patches/master/6.2/objtool-patches/0001-objtool-6.2-merge-changes-from-dev-tree.patch
	source = 0111-CACHY-Introduce-per-VMA-lock.patch::https://raw.githubusercontent.com/CachyOS/kernel-patches/master/6.2/misc/0001-Introduce-per-VMA-lock.patch
	source = 0112-TKG-v6.2-fsync1_via_futex_waitv.patch::https://raw.githubusercontent.com/Frogging-Family/linux-tkg/master/linux-tkg-patches/6.2/0007-v6.2-fsync1_via_futex_waitv.patch
	source = 0113-TKG-v6.2-winesync.patch::https://raw.githubusercontent.com/Frogging-Family/linux-tkg/master/linux-tkg-patches/6.2/0007-v6.2-winesync.patch
	validpgpkeys = ABAF11C65A2970B130ABE3C479BE3E4300411886
	validpgpkeys = 647F28654894E3BD457199BE38DBBDC86092693E
	validpgpkeys = A2FF3A36AAA56654109064AB19802F8B0D70FC30
	validpgpkeys = C5ADB4F3FEBBCE27A3E54D7D9AE4078033F8024D
	sha256sums = 74862fa8ab40edae85bb3385c0b71fe103288bce518526d63197800b3cbdecb1
	sha256sums = SKIP
	sha256sums = c4ce586cd2685b458aa8c41003f64d974af7a1024899e2480153238e10fbd00c
	sha256sums = SKIP
	sha256sums = b495edb5ef554835be7e9f0520a539137ede7f6f34162e666edb89276b229dab
	sha256sums = 41c34759ed248175e905c57a25e2b0ed09b11d054fe1a8783d37459f34984106
	sha256sums = a99a0101fb71e748124cd1021f40766ba4d234110d52f9ca3585b0c6e36daf29
	sha256sums = 1b268f30b54b59fce5c3a73d7483684d1fd3f724cf283c02e84ac0644238be69
	sha256sums = d65bd6c210896610b54abfad15b86756382d3a1eb48835b6a2e16ea5ea541863
	sha256sums = 70472f2ffc33a40796abe7eca9ba5c534fe2b6c035bad1dd13cb6bcd7acd58ab
	sha256sums = f544db22d1ddd9dd482ba552309775671ffb3c712cd43a9fae6fc0152868cc94
	sha256sums = d7e2500fe861c78e3087431f2964f4e79eb2cd3588aadff746f9a9e9b5913804
	sha256sums = 5b051f99657076bd2ae3118f151c8dc9485a9e9d57689c2adf4c96c90ef62da4
	sha256sums = e8dd037119d4468d066fd73ce10e107d47a628977333bbecf149597cab912690
	sha256sums = 1a193d5e90de927dbfedc748255ceca976c2f14bc83be4161a03048f7743240a
	sha256sums = ea9bd91f2b11a5102ccb957b640c3d109d650c803a2c627513b2fdf346573f49
	sha256sums = 8a808cec471ae0b6c1166e076d0f61e018597dc55e701e9a6c9c5ba6cbf59148
	sha256sums = 5e80e6990fd97ace860bcaaef7b6e01f0887f89065d2184e686561fc3d9aee73
	sha256sums = d8cd4a519d35cc6f0189255d8e6e012194b8c61c481627bb061365760314de3c
	sha256sums = 9fa39a093813b2d48c0fa0b96925c5d4d3c2502c5f6efae35d3dd1bd9c2e03b9
	sha256sums = 1ae5f283a14cb66d61b735fd8172550db58ca8ab779cdd3de1c176d27274e531
	sha256sums = 3985516659c0566cca73f822b08b50efcba32b9c07581026e821be79f4b64e91
	sha256sums = 8a48497e4756fbeba6c56d4a4f1c1a935fdb0f9d2b91afc3c3230651d22fa198
	sha256sums = 5a5807eeba92722fed4fbc50ee1e2e08e04f70142952ab098f89e36ff2a674b2
	sha256sums = 0ccd70c73d80ea7c4bbbd73451e40564d14244b9aeb3ed0b60dd9d61ab03e5b2
	sha256sums = 4d8bed7737b48f120edeaf4b8061b97d1a18c6bc8dc0687ad2a02dec5a7d6a32
	sha256sums = 9df628fd530950e37d31da854cb314d536f33c83935adf5c47e71266a55f7004
	sha256sums = e7be7647d54e3237bcf930da90580355e3e81b72df6e51ea8564ace9bf3ee232

pkgname = linux-zen
	pkgdesc = The The Linux ZEN kernel and modules kernel and modules
	depends = coreutils
	depends = kmod
	depends = initramfs
	optdepends = wireless-regdb: to set the correct wireless channels of your country
	optdepends = uksmd: userspace KSM helper daemon
	optdepends = linux-firmware: firmware images needed for some devices
	provides = KSMBD-MODULE
	provides = VHBA-MODULE
	provides = UKSMD-BUILTIN
	provides = VIRTUALBOX-GUEST-MODULES
	provides = WIREGUARD-MODULE
	replaces = 

pkgname = linux-zen-headers
	pkgdesc = Headers and scripts for building modules for the The Linux ZEN kernel and modules kernel
	depends = pahole
