pkgbase = linux-zen
	pkgdesc = The Linux ZEN kernel and modules
	pkgver = 6.2.1.zen1
	pkgrel = 1.1
	url = https://github.com/zen-kernel/zen-kernel/commits/v6.2.1-zen1
	arch = x86_64
	arch = x86_64_v3
	license = GPL2
	makedepends = bc
	makedepends = clang
	makedepends = cpio
	makedepends = git
	makedepends = kmod
	makedepends = libelf
	makedepends = llvm
	makedepends = lld
	makedepends = pahole
	makedepends = perl
	makedepends = tar
	makedepends = xmlto
	makedepends = xz
	options = !strip
	source = https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.2.tar.xz
	source = https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.2.tar.sign
	source = https://github.com/zen-kernel/zen-kernel/releases/download/v6.2.1-zen1/v6.2.1-zen1.patch.xz
	source = https://github.com/zen-kernel/zen-kernel/releases/download/v6.2.1-zen1/v6.2.1-zen1.patch.xz.sig
	source = https://github.com/archlinux/svntogit-packages/raw/master/linux-zen/trunk/config
	source = https://raw.githubusercontent.com/CachyOS/linux-cachyos/master/linux-cachyos/auto-cpu-optimization.sh
	source = 0001-kconfig-additional-timer-interrupt-kernel-config-opt.patch
	source = 0002-x86-implement-tsc-directsync-for-systems-without-IA3.patch
	source = 0003-x86-touch-clocksource-watchdog-after-syncing-TSCs.patch
	source = 0004-x86-save-restore-TSC-counter-value-during-sleep-wake.patch
	source = 0005-x86-only-restore-TSC-if-we-have-IA32_TSC_ADJUST-or-d.patch
	source = 0006-x86-don-t-check-for-random-warps-if-using-direct-syn.patch
	source = 0007-x86-disable-tsc-watchdog-if-using-direct-sync.patch
	source = 0008-x86-Avoid-relocation-information-in-final-vmlinux.patch
	source = 0101-LUCJAN-PRJC-CachyOS-for-6.2.patch::https://raw.githubusercontent.com/sirlucjan/kernel-patches/master/6.2/prjc-cachyos-patches-v4/0001-PRJC-CachyOS-for-6.2.patch
	source = 0102-LUCJAN-lrng-6.2-introduce-Linux-Random-Number-Generator.patch::https://raw.githubusercontent.com/sirlucjan/kernel-patches/master/6.2/lrng-cachyos-patches-v3/0001-lrng-6.2-introduce-Linux-Random-Number-Generator.patch
	source = 0103-LUCJAN-futex-6.2-Add-entry-point-for-FUTEX_WAIT_MULTIPLE-op.patch::https://raw.githubusercontent.com/sirlucjan/kernel-patches/master/6.2/futex-patches/0001-futex-6.2-Add-entry-point-for-FUTEX_WAIT_MULTIPLE-op.patch
	source = 0104-LUCJAN-objtool-6.2-merge-changes-from-dev-tree.patch::https://raw.githubusercontent.com/sirlucjan/kernel-patches/master/6.2/objtool-patches/0001-objtool-6.2-merge-changes-from-dev-tree.patch
	source = 0105-LUCJAN-ext4-6.2-merge-changes-from-dev-tree.patch::https://raw.githubusercontent.com/sirlucjan/kernel-patches/master/6.2/ext4-patches/0001-ext4-6.2-merge-changes-from-dev-tree.patch
	source = 0106-LUCJAN-zstd-6.2-merge-changes-from-dev-tree.patch::https://raw.githubusercontent.com/sirlucjan/kernel-patches/master/6.2/zstd-cachyos-patches/0001-zstd-6.2-merge-changes-from-dev-tree.patch
	validpgpkeys = ABAF11C65A2970B130ABE3C479BE3E4300411886
	validpgpkeys = 647F28654894E3BD457199BE38DBBDC86092693E
	validpgpkeys = A2FF3A36AAA56654109064AB19802F8B0D70FC30
	validpgpkeys = C5ADB4F3FEBBCE27A3E54D7D9AE4078033F8024D
	sha256sums = 74862fa8ab40edae85bb3385c0b71fe103288bce518526d63197800b3cbdecb1
	sha256sums = SKIP
	sha256sums = c194b129fe2d4f835152c4c8c79f5a7cc15ba63a57d9d0f0baabe9c88d24b49f
	sha256sums = SKIP
	sha256sums = 94b7a2e487ae994be1d8ca1512acd211c5d89b5cbbf71dce70d4b9073ccb100b
	sha256sums = 41c34759ed248175e905c57a25e2b0ed09b11d054fe1a8783d37459f34984106
	sha256sums = a99a0101fb71e748124cd1021f40766ba4d234110d52f9ca3585b0c6e36daf29
	sha256sums = 1b268f30b54b59fce5c3a73d7483684d1fd3f724cf283c02e84ac0644238be69
	sha256sums = 5dc36dbc3161da7e3c8e20e4fe72df4de5004d5449ff7d530f4515e96081725f
	sha256sums = 70472f2ffc33a40796abe7eca9ba5c534fe2b6c035bad1dd13cb6bcd7acd58ab
	sha256sums = f544db22d1ddd9dd482ba552309775671ffb3c712cd43a9fae6fc0152868cc94
	sha256sums = d7e2500fe861c78e3087431f2964f4e79eb2cd3588aadff746f9a9e9b5913804
	sha256sums = 5b051f99657076bd2ae3118f151c8dc9485a9e9d57689c2adf4c96c90ef62da4
	sha256sums = e8dd037119d4468d066fd73ce10e107d47a628977333bbecf149597cab912690
	sha256sums = 0c0d9e530dbe3eedc3dccb013a50475c8e737fe2d8c046488b54f8a28157283c
	sha256sums = eb41fe8a33fc6a20490e63e4e19f3c5536f59023d3c74cc55e9df36b5e59814c
	sha256sums = ad40509b171b952d66aa46fc8c49ff93fed1fd8225c3d1e51e90b508a40ef94b
	sha256sums = 0ccd70c73d80ea7c4bbbd73451e40564d14244b9aeb3ed0b60dd9d61ab03e5b2
	sha256sums = f3fe8a75f338ce70f685e93bb1270bc7f129385c4792cc2e264209ddbf6f2339
	sha256sums = 3952351831c0228163de531151771f5fe4b4263294888137f32905669d470233

pkgname = linux-zen
	pkgdesc = The The Linux ZEN kernel and modules kernel and modules
	depends = coreutils
	depends = kmod
	depends = initramfs
	optdepends = wireless-regdb: to set the correct wireless channels of your country
	optdepends = uksmd: userspace KSM helper daemon
	optdepends = linux-firmware: firmware images needed for some devices
	provides = KSMBD-MODULE
	provides = VHBA-MODULE
	provides = UKSMD-BUILTIN
	provides = VIRTUALBOX-GUEST-MODULES
	provides = WIREGUARD-MODULE
	replaces = 

pkgname = linux-zen-headers
	pkgdesc = Headers and scripts for building modules for the The Linux ZEN kernel and modules kernel
	depends = pahole
