pkgbase = linux-zen
	pkgdesc = The Linux ZEN kernel and modules
	pkgver = 6.1.9.zen1
	pkgrel = 1.1
	url = https://github.com/zen-kernel/zen-kernel/commits/v6.1.9-zen1
	arch = x86_64
	arch = x86_64_v3
	license = GPL2
	makedepends = bc
	makedepends = clang
	makedepends = cpio
	makedepends = git
	makedepends = kmod
	makedepends = libelf
	makedepends = llvm
	makedepends = lld
	makedepends = pahole
	makedepends = perl
	makedepends = tar
	makedepends = xmlto
	makedepends = xz
	options = !strip
	source = https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.1.tar.xz
	source = https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.1.tar.sign
	source = https://github.com/zen-kernel/zen-kernel/releases/download/v6.1.9-zen1/v6.1.9-zen1.patch.xz
	source = https://github.com/zen-kernel/zen-kernel/releases/download/v6.1.9-zen1/v6.1.9-zen1.patch.xz.sig
	source = https://github.com/archlinux/svntogit-packages/raw/master/linux-zen/trunk/config
	source = https://raw.githubusercontent.com/CachyOS/linux-cachyos/master/linux-cachyos/auto-cpu-optimization.sh
	source = 0001-kconfig-additional-timer-interrupt-kernel-config-opt.patch
	source = 0002-x86-implement-tsc-directsync-for-systems-without-IA3.patch
	source = 0003-x86-touch-clocksource-watchdog-after-syncing-TSCs.patch
	source = 0004-x86-save-restore-TSC-counter-value-during-sleep-wake.patch
	source = 0005-x86-only-restore-TSC-if-we-have-IA32_TSC_ADJUST-or-d.patch
	source = 0006-x86-don-t-check-for-random-warps-if-using-direct-syn.patch
	source = 0007-x86-disable-tsc-watchdog-if-using-direct-sync.patch
	source = 0101-LUCJAN-lrng-cachyos-patches.patch::https://raw.githubusercontent.com/sirlucjan/kernel-patches/master/6.1/lrng-cachyos-patches-v9/0001-lrng-cachyos-patches.patch
	source = 0102-LUCJAN-winesync-Introduce-the-winesync-driver-and-character.patch::https://raw.githubusercontent.com/sirlucjan/kernel-patches/master/6.1/wine-sync-futex-patches/0001-winesync-Introduce-the-winesync-driver-and-character.patch
	source = 0103-LUCJAN-kbuild-6.1-merge-changes-from-dev-tree.patch::https://raw.githubusercontent.com/sirlucjan/kernel-patches/master/6.1/kbuild-patches-v2/0001-kbuild-6.1-merge-changes-from-dev-tree.patch
	source = 0104-LUCJAN-modules-6.1-merge-changes-from-dev-tree.patch::https://raw.githubusercontent.com/sirlucjan/kernel-patches/master/6.1/modules-patches-v3/0001-modules-6.1-merge-changes-from-dev-tree.patch
	source = 0105-LUCJAN-ext4-6.1-merge-changes-from-dev-tree.patch::https://raw.githubusercontent.com/sirlucjan/kernel-patches/master/6.1/ext4-patches-v4/0001-ext4-6.1-merge-changes-from-dev-tree.patch
	source = 0106-LUCJAN-ntfs3-6.1-merge-changes-from-dev-tree.patch::https://raw.githubusercontent.com/sirlucjan/kernel-patches/master/6.1/ntfs3-cachyos-patches-v4/0001-ntfs3-6.1-merge-changes-from-dev-tree.patch
	source = 0107LUCJAN-zstd-6.1-merge-changes-from-dev-tree.patch::https://raw.githubusercontent.com/sirlucjan/kernel-patches/master/6.1/zstd-cachyos-patches-v2/0001-zstd-6.1-merge-changes-from-dev-tree.patch
	source = 0108-LUCJAN-x86-Avoid-relocation-information-in-final-vmlinux.patch::https://raw.githubusercontent.com/sirlucjan/kernel-patches/master/6.1/vmlinuz-cachyos-patches/0001-x86-Avoid-relocation-information-in-final-vmlinux.patch
	validpgpkeys = ABAF11C65A2970B130ABE3C479BE3E4300411886
	validpgpkeys = 647F28654894E3BD457199BE38DBBDC86092693E
	validpgpkeys = A2FF3A36AAA56654109064AB19802F8B0D70FC30
	validpgpkeys = C5ADB4F3FEBBCE27A3E54D7D9AE4078033F8024D
	sha256sums = 2ca1f17051a430f6fed1196e4952717507171acfd97d96577212502703b25deb
	sha256sums = SKIP
	sha256sums = df75f007d612480827f8df970a8cb2daf72dafedbca5db9966cd5aafce3b9566
	sha256sums = SKIP
	sha256sums = 0825c7be08c8d06dc92b7808454fe81258e0ccbd84c9e61684348b29ed5ebb60
	sha256sums = 41c34759ed248175e905c57a25e2b0ed09b11d054fe1a8783d37459f34984106
	sha256sums = a99a0101fb71e748124cd1021f40766ba4d234110d52f9ca3585b0c6e36daf29
	sha256sums = 1b268f30b54b59fce5c3a73d7483684d1fd3f724cf283c02e84ac0644238be69
	sha256sums = e92d5e89b0e1281e6d8da582801918b56e6ad5f0de315bdf38e575de32fe2116
	sha256sums = 70472f2ffc33a40796abe7eca9ba5c534fe2b6c035bad1dd13cb6bcd7acd58ab
	sha256sums = f544db22d1ddd9dd482ba552309775671ffb3c712cd43a9fae6fc0152868cc94
	sha256sums = d7e2500fe861c78e3087431f2964f4e79eb2cd3588aadff746f9a9e9b5913804
	sha256sums = 5b051f99657076bd2ae3118f151c8dc9485a9e9d57689c2adf4c96c90ef62da4
	sha256sums = e2f199648dd0e7791988bf569d3053961624a61f84f3b2c9d5408cfd92621b3e
	sha256sums = 44eecd8cd5b46cd312f7b1cd0262645d130849990aef303f1d07fe2fd568f310
	sha256sums = d7aceb927ab35c26bc528f5a4502ebf75f81b93e4ef480e3bacfa31d13e60f75
	sha256sums = ac8f9c8d23c22a124d4e3762492db2797751d13558280435d47e99192a3ef9d2
	sha256sums = 624fa85265dfa9a39f8ce4007037bbb5cdd80a2c96b998cb95eb13700075285b
	sha256sums = 6af47e25f765e94a955c0597c5e5ced441d273e9fb874e92b99f153e61fab3af
	sha256sums = 0238102ee19941f8a3a811eaa95c0495ac458bf0383615ce62bcc97f4ec48079
	sha256sums = 5e6bdf4ff3650c1b35ecdde9cb8041f41023cd315e48410ff0f4c6a5acd5ce45

pkgname = linux-zen
	pkgdesc = The The Linux ZEN kernel and modules kernel and modules
	depends = coreutils
	depends = kmod
	depends = initramfs
	optdepends = wireless-regdb: to set the correct wireless channels of your country
	optdepends = uksmd: userspace KSM helper daemon
	optdepends = linux-firmware: firmware images needed for some devices
	provides = KSMBD-MODULE
	provides = VHBA-MODULE
	provides = UKSMD-BUILTIN
	provides = VIRTUALBOX-GUEST-MODULES
	provides = WIREGUARD-MODULE
	replaces = 

pkgname = linux-zen-headers
	pkgdesc = Headers and scripts for building modules for the The Linux ZEN kernel and modules kernel
	depends = pahole
